@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');

* { margin: 0; }

body {
    max-width: 720px;
    margin: auto;
    padding: 128px 48px;
    background: #0c0c0c;
    font-family: "IBM Plex Sans", -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f1f1f1;
}

h1 { font-size: 36px; }
h2 { font-size: 21px; }
h3 { font-size: 17px; }
h4 { font-size: 15px; }
h5 { font-size: 13px; }

spacer {
    display: block;
    width: 100%;
    clear: both;
    height: 8px;
}

spacer[size="2"] { height: 8px; }
spacer[size="3"] { height: 20px; }
spacer[size="4"] { height: 40px; }

a, a:visited { color: #c4c4c4; }
a:hover { color: #f3f3f3; }

section { margin-bottom: 40px; }
section section { margin-bottom: 28px; }

.years { color: #c4c4c4; }

.download-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
